.button-container {
  padding: 0 10px;
}

.custom-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-button:hover {
  color: #fff;
  background-color: #9CD5B3;
  cursor: pointer;
}

.large-button {
  color: #fff;
  background-color: #39AC66;
  height: 36px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
}
.large-button:hover {
  cursor: pointer;
}

.feature-button-container {
  display: flex;
  align-items: center;
  color: #6BC18D;
}
.custom-feature-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  border: 1px solid #39AC66;
  border-radius: 3px;
  color: #39AC66;
}
.custom-feature-button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #39AC66;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  border: 1px solid #Ff0000;
  border-radius: 3px;
  color: #Ff0000;
}
.delete-button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #Ff0000;
}

.action-button-container {
  display: none;
  justify-content: space-between;
  position: absolute;
  width: 110px;
  right: 10px;
  top: 4%;
}
tr:hover .action-button-container {
  display: flex;
}

.navigation-button {
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #fff;
  font-size: 24px;
}
.navigation-button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #6BC18D;
  font-size: 24px;
}

.form-button-area {
  display: flex;
  justify-content: flex-end;
}
.form-button-container {
  display: flex;
  width: 120px;
  justify-content: space-between;
  margin: 20px 5px;
}

.close-button {
  color: #000;
  background-color: #fff;
  height: 36px;
  font-size: 14px;
  border: 1px solid #808080;
  border-radius: 4px;
}
.close-button:hover {
  cursor: pointer;
}

.small-button {
  width: 50px;
  height: 25px;
  border: 1px solid #808080;
  border-radius: 3px;
  font-size: 16px;
}
.small-delete-button {
  width: 50px;
  height: 25px;
  border: 1px solid #808080;
  border-radius: 3px;
  background-color: #Ff0000;
  color: #fff;
  font-size: 16px;
}
.small-button,
.small-delete-button:hover {
  cursor: pointer;
}