.select-container {
  width: 240px;
  height: 36px;
  display: flex;
  justify-content: center;
}
.select-item {
  width: 75%;
  border: none;
  font-size: 14px;
  font-weight: 600;
}
.custom-select-item {
  color: red;
}