.select-container {
  width: 240px;
  height: 36px;
  display: flex;
  justify-content: center;
}
.select-item {
  width: 75%;
  border: none;
  font-size: 14px;
  font-weight: 600;
}
.select-item:hover {
  cursor: pointer;
}
.custom-select-item {
  color: red;
}
.pagination-select-container {
  width: 55px;
  padding-left: 15px;
}